$vl-pswp-assets-path: "~@govflanders/vl-ui-core/dist/img/lightbox/";
$vl-font-location: "~@govflanders/vl-ui-core/dist/font/flanders/";
$vl-icon-font-location: "~@govflanders/vl-ui-core/dist/font/iconfont/";

@import "~@govflanders/vl-ui-core/src/scss/core";
@import "~@govflanders/vl-ui-util/src/scss/util";
@import "~@govflanders/vl-ui-radio-tile/src/scss/radio-tile";

